[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-bcrypt = "*"
flask-pymongo = "*"
flask-migrate = "*"
dnspython = "*"
flask-restplus = "*"
python-dotenv = "*"
flask-mongoengine = "*"
requests = "*"

[requires]
python_version = "3.8"
